<component name="ArtifactManager">
  <artifact type="war" name="Mybatis_demo07:war">
    <output-path>$PROJECT_DIR$/Mybatis_demo07/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>false</exploded>
        <module>Mybatis_demo07</module>
        <packaging>war</packaging>
        <unpackNestedArchives>false</unpackNestedArchives>
      </options>
    </properties>
    <root id="archive" name="Mybatis_demo07-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="Mybatis_demo07:war exploded" />
    </root>
  </artifact>
</component>